{% if page.meta.isBlog %}
	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

				{% for blog_entry in config.extra.blogs %}
				<article class="post" id="{{ blog_entry.id }}">
                    <header class="entry-header">
                        <div class="entry-meta" id="{{ blog_entry.id }}">
                            <span class="posted-on"><time class="entry-date published" date="{{ blog_entry.date }}">{{ blog_entry.dateText }}</time></span>
                        </div>
                        <h1 class="entry-title">{{ blog_entry.title }}</h1>
                    </header>
                    <div class="entry-content">
						{% for content_paragraph in blog_entry.content %}
						<p>{{ content_paragraph }}</p>
						{% endfor %}
					</div>
                </article>

				<hr class="gradient"><br>
				{% endfor %}

			</div> 
		</div>

	</div>	<!-- /container -->
{% endif %}