{% if page.meta.isMap %}
	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

				{% for map_entry in page.meta.maps %}
				<article class="post" id="{{ map_entry.id }}">
                    <header class="entry-header">
                        <div class="entry-meta" id="{{ map_entry.id }}">
                            <span class="posted-on"><time class="entry-date published" date="{{ map_entry.date }}">{{ map_entry.dateText }}</time></span>
                        </div>
                        <h1 class="entry-title">{{ map_entry.title }}</h1>
                    </header>
                    <div class="entry-content">
						{% for content_paragraph in map_entry.content %}
						<p>{{ content_paragraph }}</p>
						{% endfor %}
						{% if map_entry.mapConfiguration %}
						<script src="https://rawgit.com/markmarkoh/datamaps/v0.5.0/dist/datamaps.{{ map_entry.mapConfiguration.scope }}.min.js"></script>
                        <div id="{{ map_entry.mapConfiguration.scope }}_map" style="position: relative; width: 700px; height: 500px;"></div>
                        <script>
                            var {{ map_entry.mapConfiguration.scope }}_map = new Datamap({
                                scope: '{{ map_entry.mapConfiguration.scope }}',
                                element: document.getElementById('{{ map_entry.mapConfiguration.scope }}_map'),
                                fills: {
                                    defaultFill: "#FFA056",
                                    authorHasTraveledTo: "#0C9C00",
									authorHasTraveledThrough: "#D0D600"
                                },

                                data: {
									{% for place in map_entry.mapConfiguration.places %}
									"{{ place.name }}": {"fillKey": {% if place.visited %}"authorHasTraveledTo"{% else %}"authorHasTraveledThrough"{% endif %}},
									{% endfor %}
                                }
                            });
                            {% if map_entry.mapConfiguration.labels %}
							{{ map_entry.mapConfiguration.scope }}_map.labels();
							{% endif %}
                        </script>
						{% endif %}
					</div>
                </article>

				<hr class="gradient"><br>
				{% endfor %}

			</div> 
		</div>

	</div>	<!-- /container -->
{% endif %}