{% if page.meta.isResume %}

	<div class="container">

		<div class="row section topspace">
			<div class="panel panel-cta">
				<div class="panel-body">
					<div class="col-lg-12">
						<p>
							{{ page.meta.resume.linkedinNote }}
						</p>
					</div>
				</div>
			</div>
		</div> <!-- /section -->

		<div class="row topspace">

			<!-- Article main content -->
			<article class="col-sm-15 maincontent">  

			    <div class="container">
                    <div id="timeline">
                        {% for timelineItem in page.meta.resume.timeline %}
                        <div class="timelineitem">
                            <div class="tdate">{{ timelineItem.timePeriod }}</div>
                            {% for timelineItemTitle in timelineItem.titles %}
                            <div class="ttitle">{{ timelineItemTitle }}</div>
                            {% endfor %}
                            {% for timelineItemDescription in timelineItem.descriptions %}
                            <div class="tdesc">{{ timelineItemDescription }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
				</div>
				</p>
			</article>
			<!-- /Article -->
			
		</div>
	</div>	<!-- /container -->
	

    <h3 align="center">Experience with various programming languages</h3>

    <div id="languages" style="width: 800px; height: 500px; margin:10px auto;"></div>

{% endif %}